.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 50px;
  margin-top: 40px;
  margin-bottom: 8px;
}

.productDiscount {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 2px 6px;
  color: #fff;
  background-color: #DB4444;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.productName {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
}

.productDescription {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productPriceContainer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
  gap: 12px;
}

.productPrice {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.productWithPromotionalPrice {
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
}