.categoriesContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-bottom: 1px solid #EDEDED;
  padding: 20px 16px;
  flex-wrap: wrap;
}

.categoryOption {
  width: 200px;
  background-color: #F3F9FB;
  border-radius: 28px;
}

.categoryOption[data-active=true],
.categoryOption:hover {
  background-color: #008ECC;
}