.cartContainer {
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 16px;
  margin: 36px 0;
}

.cartContainer h3 {
  font-size: 22px;
  font-weight: 800;
}

.cartItemQuantity {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.cartItemPrice {
  width: 140px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}