.cartSummaryTitle {
  font-size: 18px;
  font-weight: 600;
}

.cartSummaryContainer {
  background-color: #EDEDED;
  padding: 36px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
  border-radius: 4px;
}

.cartSummaryContainer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.cartSummaryValues span {
  margin-left: 8px;
  font-weight: 600;
}

.cartSummaryActionsContainer {
  min-width: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.cartSummaryActionsButtonText {
  text-decoration: underline;
  font-size: 14px;
}

.productInfoImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.productInfo {
  margin-left: 16px;
  flex: 1;
}

.productInfoName {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.productInfoDescription {
  font-size: 14px;
  font-weight: 400;
}

.productRowContainer {
  width: 100%;
  padding: 24px;
  border-bottom: 2px solid #EDEDED;
  display: flex;
  justify-content: space-between;
}

.productRowContainer:first-child {
  border-top: 2px solid #EDEDED;
}

@media screen and (max-width: 580px) {
  .cartSummaryValues {
    width: 100%;
    text-align: center;
  }

  .cartSummaryActionsContainer {
    width: 100%;
  }
}